In [1]:
import pandas as pd
import re

In [2]:
train = pd.read_json('train.json', orient='index').reset_index()

In [3]:
train.shape

(127755, 3)

In [4]:
train.head(1)

    index  target                                           features
0  user_1  female  {'orders': [{'site-id': 1, 'orders': [{'create...

In [5]:
train.rename(columns={'index':'user'}, inplace=True)
users = train.drop(columns='features')
users.head(1)

     user  target
0  user_1  female

In [6]:
train = pd.concat([train.drop('features', axis = 1), pd.json_normalize(train['features'])], axis = 1)
train.shape

(127755, 7)

In [7]:
train.sample()

,user,target,orders,site-meta,visits,last-visits-in-categories,exchange-sessions
67267,user_67268,female,"[{'site-id': 34, 'orders': [{'created-at': 156...","[{'site-id': 371}, {'site-id': 146}, {'site-id...","[{'site-id': 3, 'first-seen': 1693067437, 'las...","[{'category': 'other', 'last-visit-at': 169765...","[{'landed-at': 1694763414, 'sites': [21, 7, 2,..."

In [8]:
orders = train.drop(columns=['visits', 'site-meta', 'exchange-sessions', 'last-visits-in-categories'])
site_meta = train.drop(columns=['visits', 'orders', 'exchange-sessions', 'last-visits-in-categories'])

In [9]:
orders['orders'] = orders['orders'].apply(lambda x: re.findall(r'item_\d+', str(x)) if not isinstance(x, float) else x)
site_meta['site-meta'] = site_meta['site-meta'].apply(lambda x: re.findall(r"'site-id':\s*(\d+)", str(x)) if not isinstance(x, float) else x)

In [10]:
orders = orders.explode('orders')
site_meta = site_meta.explode('site-meta')

In [11]:
orders

               user  target        orders
0            user_1  female           NaN
1            user_2  female           NaN
2            user_3    male        item_1
3            user_4    male        item_8
3            user_4    male        item_9
...             ...     ...           ...
127754  user_127755  female   item_162398
127754  user_127755  female  item_1896437
127754  user_127755  female  item_3739266
127754  user_127755  female    item_57560
127754  user_127755  female     item_2858

[3086869 rows x 3 columns]

In [12]:
site_meta

               user  target site-meta
0            user_1  female         2
1            user_2  female         4
1            user_2  female         5
1            user_2  female         6
1            user_2  female         7
...             ...     ...       ...
127754  user_127755  female       194
127754  user_127755  female       212
127754  user_127755  female        65
127754  user_127755  female       213
127754  user_127755  female        38

[1356559 rows x 3 columns]

In [13]:
def id_to_score(df, column_name):
    df_counts = df[column_name].value_counts()
    df_female_counts = df[df['target'] == 'female'][column_name].value_counts()
    score = pd.concat([df_counts, df_female_counts], axis=1)
    score['sex_score'] = score.iloc[:, 1] / score.iloc[:, 0]
    score['sex_score'].fillna(0, inplace=True)
    score.reset_index(inplace=True)
    score.drop(columns=[column_name, column_name], inplace=True)
    score.rename(columns={'index': column_name}, inplace=True)
    ids_scored = df.merge(score[[column_name, 'sex_score']], on=column_name, how='left')
    ids_by_user = ids_scored.groupby('user').agg({'sex_score':'mean', 'target':'last'})
    ids_by_user.reset_index(inplace=True)
    
    return ids_by_user

In [14]:
items_by_user = id_to_score(orders, 'orders')

In [15]:
meta_by_user = id_to_score(site_meta, 'site-meta')

In [16]:
assambled_meta_item = meta_by_user.merge(items_by_user.drop(columns='target'), on='user', how='left')

In [17]:
# Тест на то, что ни одного юзера не потеряли
len(users) == len(items_by_user) == len(meta_by_user) == len(assambled_meta_item)

True

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

X = assambled_meta_item.drop(columns=['user', 'target']).fillna(0.5)
y = assambled_meta_item['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression()

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Display confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print('Confusion Matrix:')
print(conf_matrix)

# Display classification report
class_report = classification_report(y_test, y_pred)
print('Classification Report:')
print(class_report)

Accuracy: 0.89
Confusion Matrix:
[[10973  1857]
 [  970 11751]]
Classification Report:
              precision    recall  f1-score   support

      female       0.92      0.86      0.89     12830
        male       0.86      0.92      0.89     12721

    accuracy                           0.89     25551
   macro avg       0.89      0.89      0.89     25551
weighted avg       0.89      0.89      0.89     25551

In [20]:
# # Нейронкой можно улучшить скор, но необходимы эксперименты

# import tensorflow as tf
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score

# assambled_meta_item['target_bi'] = assambled_meta_item['target'].map({'female': 1, 'male': 0})
# X = assambled_meta_item.drop(columns=['user', 'target', 'target_bi']).fillna(0.5)
# y = assambled_meta_item['target_bi']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Создание модели нейронной сети
# model = tf.keras.Sequential([
#     tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train.shape[1],)),
#     tf.keras.layers.Dropout(0.5),
#     tf.keras.layers.Dense(64, activation='relu'),
#     tf.keras.layers.Dense(1, activation='sigmoid')
# ])


# # Компиляция модели
# model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# # Обучение модели
# model.fit(X_train, y_train, epochs=50, batch_size=32, validation_data=(X_test, y_test))

# # Оценка модели на тестовом наборе
# y_pred_prob = model.predict(X_test)
# y_pred = (y_pred_prob > 0.5).astype(int)

# # Оценка точности
# accuracy = accuracy_score(y_test, y_pred)
# print(f'Точность модели: {accuracy}')

Epoch 1/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2743 - accuracy: 0.8736 - val_loss: 0.2478 - val_accuracy: 0.8897
Epoch 2/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2535 - accuracy: 0.8875 - val_loss: 0.2486 - val_accuracy: 0.8881
Epoch 3/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2515 - accuracy: 0.8895 - val_loss: 0.2466 - val_accuracy: 0.8894
Epoch 4/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2506 - accuracy: 0.8893 - val_loss: 0.2466 - val_accuracy: 0.8899
Epoch 5/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2504 - accuracy: 0.8897 - val_loss: 0.2471 - val_accuracy: 0.8905
Epoch 6/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2499 - accuracy: 0.8895 - val_loss: 0.2460 - val_accuracy: 0.8895
Epoch 7/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2498 - accuracy: 0.8895 - val_loss: 0.2459 - val_accuracy: 0.8897
Epoch 8/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2499 - accuracy: 0.8891 - val_loss: 0.2460 - val_accuracy: 0.8903
Epoch 9/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2486 - accuracy: 0.8903 - val_loss: 0.2486 - val_accuracy: 0.8899
Epoch 10/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2490 - accuracy: 0.8898 - val_loss: 0.2457 - val_accuracy: 0.8896
Epoch 11/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2485 - accuracy: 0.8895 - val_loss: 0.2494 - val_accuracy: 0.8896
Epoch 12/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2484 - accuracy: 0.8894 - val_loss: 0.2482 - val_accuracy: 0.8897
Epoch 13/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2484 - accuracy: 0.8904 - val_loss: 0.2471 - val_accuracy: 0.8873
Epoch 14/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2477 - accuracy: 0.8899 - val_loss: 0.2461 - val_accuracy: 0.8907
Epoch 15/50
3194/3194 [==============================] - 3s 999us/step - loss: 0.2479 - accuracy: 0.8901 - val_loss: 0.2465 - val_accuracy: 0.8885
Epoch 16/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2479 - accuracy: 0.8902 - val_loss: 0.2449 - val_accuracy: 0.8909
Epoch 17/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2476 - accuracy: 0.8898 - val_loss: 0.2446 - val_accuracy: 0.8901
Epoch 18/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2481 - accuracy: 0.8897 - val_loss: 0.2502 - val_accuracy: 0.8861
Epoch 19/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2478 - accuracy: 0.8906 - val_loss: 0.2447 - val_accuracy: 0.8902
Epoch 20/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2474 - accuracy: 0.8899 - val_loss: 0.2476 - val_accuracy: 0.8887
Epoch 21/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2479 - accuracy: 0.8901 - val_loss: 0.2443 - val_accuracy: 0.8901
Epoch 22/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2473 - accuracy: 0.8906 - val_loss: 0.2450 - val_accuracy: 0.8909
Epoch 23/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2476 - accuracy: 0.8909 - val_loss: 0.2451 - val_accuracy: 0.8905
Epoch 24/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2475 - accuracy: 0.8903 - val_loss: 0.2453 - val_accuracy: 0.8908
Epoch 25/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2476 - accuracy: 0.8905 - val_loss: 0.2458 - val_accuracy: 0.8886
Epoch 26/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2472 - accuracy: 0.8900 - val_loss: 0.2445 - val_accuracy: 0.8902
Epoch 27/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2471 - accuracy: 0.8905 - val_loss: 0.2507 - val_accuracy: 0.8879
Epoch 28/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2473 - accuracy: 0.8900 - val_loss: 0.2447 - val_accuracy: 0.8907
Epoch 29/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2471 - accuracy: 0.8897 - val_loss: 0.2453 - val_accuracy: 0.8909
Epoch 30/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2471 - accuracy: 0.8905 - val_loss: 0.2449 - val_accuracy: 0.8896
Epoch 31/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2469 - accuracy: 0.8899 - val_loss: 0.2453 - val_accuracy: 0.8904
Epoch 32/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2467 - accuracy: 0.8904 - val_loss: 0.2449 - val_accuracy: 0.8899
Epoch 33/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2470 - accuracy: 0.8906 - val_loss: 0.2441 - val_accuracy: 0.8906
Epoch 34/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2466 - accuracy: 0.8907 - val_loss: 0.2445 - val_accuracy: 0.8899
Epoch 35/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2469 - accuracy: 0.8906 - val_loss: 0.2453 - val_accuracy: 0.8901
Epoch 36/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2468 - accuracy: 0.8904 - val_loss: 0.2450 - val_accuracy: 0.8904
Epoch 37/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2467 - accuracy: 0.8907 - val_loss: 0.2450 - val_accuracy: 0.8898
Epoch 38/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2467 - accuracy: 0.8906 - val_loss: 0.2452 - val_accuracy: 0.8907
Epoch 39/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2467 - accuracy: 0.8901 - val_loss: 0.2472 - val_accuracy: 0.8884
Epoch 40/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2462 - accuracy: 0.8913 - val_loss: 0.2446 - val_accuracy: 0.8904
Epoch 41/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2463 - accuracy: 0.8908 - val_loss: 0.2467 - val_accuracy: 0.8884
Epoch 42/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2467 - accuracy: 0.8902 - val_loss: 0.2442 - val_accuracy: 0.8903
Epoch 43/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2465 - accuracy: 0.8907 - val_loss: 0.2454 - val_accuracy: 0.8892
Epoch 44/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2462 - accuracy: 0.8906 - val_loss: 0.2447 - val_accuracy: 0.8896
Epoch 45/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2465 - accuracy: 0.8911 - val_loss: 0.2445 - val_accuracy: 0.8904
Epoch 46/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2462 - accuracy: 0.8904 - val_loss: 0.2449 - val_accuracy: 0.8892
Epoch 47/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2463 - accuracy: 0.8906 - val_loss: 0.2441 - val_accuracy: 0.8903
Epoch 48/50
3194/3194 [==============================] - 3s 1ms/step - loss: 0.2470 - accuracy: 0.8902 - val_loss: 0.2463 - val_accuracy: 0.8905
Epoch 49/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2466 - accuracy: 0.8905 - val_loss: 0.2444 - val_accuracy: 0.8911
Epoch 50/50
3194/3194 [==============================] - 4s 1ms/step - loss: 0.2466 - accuracy: 0.8904 - val_loss: 0.2452 - val_accuracy: 0.8894
799/799 [==============================] - 0s 526us/step
Точность модели: 0.8894368126492114